
<%= form_for @task, html: {class: "form-horizontal"} do |f|  %>

    <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :description %>
      </div>
      <div class="col-sm-4">
          <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to 'Cancel', tasks_path, class: "btn btn-default" %>
      </div>
    </div>

    

<% end %>
