
  <h1 class="page-header"> Tasks
     <div class= "pull-right">

         <%= link_to 'New Task', new_task_path, class: "btn btn-info" %>

      </div>
  </h1>

  <table class= "table">


    <thead>
      <tr>
        <th>Description</th>
        <th align= "left">Due Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
      <tr>
        <td>
          <% if t.completed %>
            <s><%=link_to t.description, task_path(t) %></s>
          <% else %>
            <%=link_to t.description, task_path(t) %>
          <% end %>
        </td>
        <td>
          <%= t.due_date.strftime("%m/%d/%Y") %>  
        </td>
        <td>
          <div class = "pull-right">
            <%= link_to 'Edit', edit_task_path(t), class: "btn btn-info" %>
            <%= link_to 'Delete', task_path(t), method: :delete,class: "btn btn-danger"%>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
