  <%if flash[:success] %>
    <div class= "alert alert-success text-center"> <%= flash[:success] %></div>
  <% end %>


  <h1 class="page-header">
    <%if @task.completed==true then %>
      <s><%= @task.description %></s>
    <% else %>
      <%= @task.description %>
    <% end %>

    <div class= "pull-right">
         <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-info" %>
    </div>
  </h1>

  <ol class = "breadcrumb">
    <li> <%= link_to "Tasks", tasks_path %> > <%= @task.description %></li>
  </ol>

  <p>
    <strong>
      Due On:
    </strong>
      <% if @task.due_date %>
        <%= @task.due_date.strftime("%m/%d/%Y") %>
      <% end %>
  jj</p>
