<h1 class = "page-header"> <%= @user.first_name+" "+@user.last_name %>
  <div class = "pull-right">
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
  </div>
</h1>

<dl class="dl-horizontal">
  <dt>First Name</dt>
  <dd> <%= @user.first_name %> </dd>
  <dt>Last Name</dt>
  <dd> <%= @user.last_name %> </dd>
  <dt>Email</dt>
  <dd> <%= @user.email %> </dd>

</dl>
