  <% if flash[:success]  %>
    <div class = "alert alert-success ">
      <%= flash[:success] %>
    </div>
  <% end %>

  <h1 class = "page-header">
    <%= @project.name %>
    <div class = "pull-right">
      <%= link_to "Edit", edit_project_path(@project), class: "btn btn-info" %>
      <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </div>
  </h1>
  <% comment do %>
  <ul class = "breadcrumb">
    <li> <%= link_to "Projects", projects_path %> > <%= @project.name  %></li>
  </ul>
  <% end %>
