<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">


  <div class="container">
      <%=link_to("gCamp", root_path, class:"navbar-brand") %>
  </div>

  </nav>



<%= yield %>
<div class="container">
<HR color="black" width=100%>
<footer>

      <%= link_to("Terms",terms_path) %> | <%= link_to("About",about_path) %>
      <%=link_to(image_tag("galvanize.png", class:"link_image"), "https://students.gschool.it/students/282")%>
      <%=link_to(image_tag("Twitter.png", class:"link_image"), "https://twitter.com/brennanator90")%>
      <%=link_to(image_tag("Github.png", class:"link_image"), "https://github.com/ipbrennan90")%>
      <%=link_to(image_tag("linked_in.jpg", class:"link_image"), "https://www.linkedin.com/pub/ian-brennan/46/256/81b")%>
</footer>


</div>
</body>

</html>
